
/* General Styling */
body {
    background: url(../images/silver_scales/silver_scales_@2X.png);
    margin: 0;
}
 
header {
    background-color: white;
    display: block;
    height: 64px;
    margin-bottom: 24px;
    border-bottom: 2px solid #cccccc;
}
.banner {
    width: 1000px;
    margin: 0 auto;
}

 h1  {
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
    padding: 14px;
    margin-top: 0px;
    margin-left: 0px;
}


.middle {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

a {
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
    font-size: 20px; 
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}



.content {
    display: block;
    width: 960px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #dddddd;
    overflow: hidden;

}


h2 {
    color: #4aaaa5;
    padding: 24px;
    border-bottom: 2px solid #dddddd;
    font-size: 36px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 24px;
    padding: 10px;    
}

/* Styling for About page */

.content p {
    font-size: 20px;
}

#self_portrait {
    height: 160px;
    width: 200px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px;
}

/* Styling for portfolio */

img {
    width: 260px;
    height: 180px;
    float: left;
}

.portfolio_list {
    width: 720px;
    height: 960px;
}

.container {
    display: block;
    position: relative;
    width: 260px;
    height: 180px;
    float: left;
    margin: 36px;
}

.caption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 48px;
}

/* styling for contact page */

.contact  {
    height: 900px;
}

.contact .content {
    height: 650px;
}
input {
    width: 93.5%;
    padding: 8px;
}

.contact p {
    padding: 0;
    margin-bottom: 4px;
}

textarea {
    height: 200px;
    width: 95%;
}

#submit {
    background-color: #4aaaa5;
    color: white;
    border: none;
    text-decoration: none;
    height: 41px;
    width: 115px;
    font-size: 20px;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: #ffffff;
    color: #4aaaa5;
}

/* styling for sticky footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    height: 55px;
    text-align: center;
    border-top: 4px solid #4aaaa5;
}

footer p {
    margin-top: 20px;
}

@media screen and (min-width: 980px) {
    .content {
        width: 960px;
    }

    a:hover {
        color: #ffffff;
        background-color: #4aaaa5;
    }

}

@media screen and (max-width: 980px) {
    .content {
        width: 90%;
    }
   
    header {
        height: auto;
        width: 980px;
    }

    .banner {
        width: 100%;
        height: auto;
        margin: 0;
    }

    h1 {
        float: none;
        font-size: 24px;
        margin: 0 ;
        text-align: center;
    }

    a {
        float: none;
        font-size: 14px;
        margin: 10px 0 0 0 ;
        padding: 0 12.5%;
        
    }

}


@media screen and (max-width: 768px) {
    .content {
        width: 90%;
    }

    header {
        height: auto;
        width: 768px;
    }

    .banner {
        width: 100%;
        height: auto;
        margin: 0;
    }

    h1 {
        float: none;
        font-size: 24px;
        margin: 0 ;
        text-align: center;
    }

    a {
        float: none;
        font-size: 14px;
        margin: 10px 0 0 0 ;
        padding: 0 12.5%;
        
    }
}

@media screen and (max-width: 640px) {
    .content {
        width: 90%;
    }
    .content.index{
        height: 850px;
        width: 90%;
    }

    header {
        height: auto;
        width: 640px;
    
    }

    .banner {
        width: 100%;
        height: auto;
        margin: 0;
    }

    h1 {
        float: none;
        font-size: 24px;
        margin: 0 ;
        text-align: center;
    }

    a {
        float: none;
        font-size: 14px;
        margin: 10px 0 0 0 ;
        padding: 0 12.5%;
        
    }
    .contact .content {
        width: 90%;
    }

    textarea {
        height: 200px;
     }

   
 
    .portfolio_list {
        height: 1400px;
        width: 400px;
    }
    img {
        display: block;
        float: none;
        margin: 0 25%;
    }

    .caption {
        left: 25%;
    }

}